@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #343a40;
    background-color: #e9ecef;
    padding-top: 0px;
    position: relative;
    min-height: 100%;
}
.footer, .push {
    height: 50px;
}
#content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}
.navbar-brand {
    color: #343a40!important;
}
.jumbotron {
    padding-top: 30px;
}
.countdown-div {
    text-align: center;
    background-color: white;
    padding: 10px;
}
.card-table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.card-player {
    text-align: left;
}
.card-link {
    margin-left: 10px;
    font-weight: 400;
    min-width: 125px;
    /*font-size: 1.775rem;*/
    float: left;
    color: #343a40;
}
.card-stat {
    padding-left: 40px;
}
.card-body {
    padding: 0px;
    background-color: white;
}
.stat-card-header {
    background-color: #343a40;
    text-align: center;
    padding: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
}
.card-icon {
    margin-right: 5px;
}
.card-button {
    background-color: #343a40;
    border-color: #343a40;
}
.register-header {
    text-align: center;
    margin: 20px;
}
.required:after {
    content: ' *';
    color: red;
}
.team-form {
    margin: 20px 0px 20px 0px;
}
.disclaimer-message {
    font-size: 10px;
}
.form-submit {
    margin-bottom: 28px;
}
.tournaments-page {
    padding: 0px;
    margin: 30px 0px 30px 0px;
    min-height: 530px;
}
.card:first-of-type {
    margin-left: 34px;
}
.card {
    margin-right: 34px;
}
.card-block, .card-footer {
    text-align: center;
    margin: 10px;
}
.team-page {
    min-height: 587px;
}
.team-info {
    margin-bottom: 20px;
    text-align: center;
}
.team-server {
    color: #717477;
}
.roster-player {
    text-align: center;
}
.roster-link {
    font-size: 19px;
}
.history-link {
    font-size: 12px;
}

/*  stop */


/* sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a, .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /*color: #b5b5b5;*/
    color: #343a40;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .sidenav p:hover {
    color: #f1f1f1!important;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a, .sidenav p {
        font-size: 18px;
    }
}
.sidebar-button {
    font-size: 30px;
    cursor: pointer;
    background-color: #343a40;
    color: #b5b5b5;
    padding: 5px;
    position: fixed;
    left: 0px;
    top: 200px;
}