@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #343a40;
    background-color: #e9ecef;
    padding-top: 0px;
    position: relative;
    min-height: 100%;
}
footer {
    background-color: #656565;
}
.footer, .push {
    height: 50px;
}
#content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}
.navbar-brand {
    color: #343a40!important;
}
.jumbotron {
    padding-top: 30px;
}
.countdown-div {
    text-align: center;
    background-color: white;
    padding: 10px;
}
.until-div {
    background-color: aliceblue;
}
.until-until {
    font-size: 14px;
    font-family: monospace;
    margin-bottom: 5px;
}
.until-tournament {
    font-size: 20px;
}
.prize-div {
    background-color: beige;
}
.prize-prize {
    font-size: 14px;
    margin-bottom: 0px;
    font-family: monospace;
}
.prize-pool {
    font-size: 38px;
    margin-top: 0px;
    margin-right: 10px;
}
.donate {
    color: #8a8a8a;
    border-color: #8a8a8a;
}
.donate:hover, .card-button:hover {
    background-color: #75787b;
    border-color: #75787b;
}
.sign-in:hover {
    background-color: #007bff;
    border-color: #007bff;
}
.sign-up:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.register:hover {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.remove:hover {
    background-color: #d9534f;
    border-color: #d9534f;
}
.card-table {
    margin-left: auto;
    margin-right: auto;
}
.card-player {
    text-align: left;
}
.card-link, .add-player-link {
    margin-left: 10px;
    font-weight: 400;
    min-width: 125px;
    /*font-size: 1.775rem;*/
    float: left;
    color: #343a40;
}
.card-stat {
    padding-left: 40px;
}
.card-body {
    padding: 0px;
    background-color: white;
}
.stat-card-header {
    background-color: #75787b;
    text-align: center;
    padding: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
}
.add-section {
    display: none;
}
.add-player-link:hover {
    background-color: #f3f3f3;
}
.add-player-link {
    border: 1px solid black;
    margin-left: 25px;
}
.add-cancel-text {
    display: none;
    float: left;
}
.edit-link, .edit-cancel {
    font-size: 14px;
    color: white;
    right: 25px;
    top: 10px;
    position: absolute;
    text-decoration: none;
}
.edit-cancel {
    display: none;
    cursor: pointer;
}
.edit-link:hover, .add-player-link:hover {
    text-decoration: none;
    color: inherit;
}
.edit-player, .edit-confirm {
    display: none;
    float: left;
}
.edit-player-text, .add-player-text {
    display: none;
    text-align: center;
    resize: none;
}
.edit-save {
    position: absolute;
    right: 20px;
    bottom: 15px;
    display: none;
}
#loading-spinner {
    display: none;
    height: 90px;
    position: absolute;
    bottom: -10px;
    right: 0px;
}
.card-icon {
    margin-right: 5px;
}
.card-button {
    background-color: #fff;
    border-color: #b5b2b2;
    color: #525050;
}
.register-header {
    text-align: center;
    margin: 20px;
}
.required:after {
    content: ' *';
    color: red;
}
.team-form {
    margin: 20px 0px 20px 0px;
}
.disclaimer-message {
    font-size: 10px;
}
.form-submit {
    margin-bottom: 28px;
}
.tournaments-page {
    padding: 0px;
    margin: 30px 0px 30px 0px;
    min-height: 530px;
}
.card:first-of-type {
    margin-left: 34px;
}
.card {
    margin-right: 34px;
}
.card-block {
    text-align: center;
    margin: 10px;
}
.card-footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.06);
}
.refund-message {
    margin-bottom: 0px;
    font-size: 12px;
}
.paypal-img {
    margin: 20px;
}
.disabled {
    opacity: .1;
    cursor: default;
}
.team-page {
    min-height: 587px;
}
.team-info {
    margin-bottom: 20px;
    text-align: center;
}
.team-server {
    color: #989898;
}
.roster-player {
    text-align: center;
}
.roster-link {
    font-size: 19px;
}
.history-link {
    font-size: 12px;
}

/*  stop */


/* sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #656565;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a, .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /*color: #b5b5b5;*/
    color: #656565;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .sidenav p:hover {
    color: #f1f1f1!important;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a, .sidenav p {
        font-size: 18px;
    }
}
.sidebar-button {
    font-size: 30px;
    cursor: pointer;
    background-color: #656565;
    color: #b5b5b5;
    padding: 5px;
    position: fixed;
    left: 0px;
    top: 200px;
}
