<table class="card-table">
  <tr>
    <td>1</td>
    <td class="card-player"><a class="card-link" href="#">protag</a></td>
    <td class="card-stat">3074</td>
  </tr>
  <tr>
    <td>2</td>
    <td class="card-player"><a class="card-link" href="#">Mr. Hat</a></td>
    <td class="card-stat">2876</td>
  </tr>
  <tr>
    <td>3</td>
    <td class="card-player"><a class="card-link" href="#">Legman</a></td>
    <td class="card-stat">2765</td>
  </tr>
  <tr>
    <td>4</td>
    <td class="card-player"><a class="card-link" href="#">Hulzy</a></td>
    <td class="card-stat">2527</td>
  </tr>
  <tr>
    <td>5</td>
    <td class="card-player"><a class="card-link" href="#">Milky</a></td>
    <td class="card-stat">2516</td>
  </tr>
  <tr>
    <td>6</td>
    <td class="card-player"><a class="card-link" href="#">WarriOrs</a></td>
    <td class="card-stat">2335</td>
  </tr>
  <tr>
    <td>7</td>
    <td class="card-player"><a class="card-link" href="#">DT</a></td>
    <td class="card-stat">2327</td>
  </tr>
  <tr>
    <td>8</td>
    <td class="card-player"><a class="card-link" href="#">toasty.</a></td>
    <td class="card-stat">2252</td>
  </tr>
  <tr>
    <td>9</td>
    <td class="card-player"><a class="card-link" href="#">Ball God</a></td>
    <td class="card-stat">2247</td>
  </tr>
  <tr>
    <td>10</td>
    <td class="card-player"><a class="card-link" href="#">GOOBR</a></td>
    <td class="card-stat">2183</td>
  </tr>
</table>
