{% extends "base.html" %}
{% load staticfiles app_tags %}
{% block content %}
<div class="container">
  <div class="jumbotron my-4">
    <div class="countdown-div">
      <div id="clock"></div>
      <div class="until-div">
        <p class="until-until">UNTIL</p>
        <p class="until-tournament">{{ next_tournament.full }}</p>
      </div>
      <div class="prize-div">
        <p class="prize-prize">PRIZE POOL</p>
        <p class="prize-pool">$1000</p>
      </div>
      <a href="{% url 'donate' %}" class="donate btn btn-outline-primary">Donate</a>
    </div>
    <iframe src="//bracketcloud.com/embed/103815?banner=false&brkbg=fffff" width="100%" height="500" scrolling="no" frameborder="0" allowtransparency="true" title="BracketCloud Tournament" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><br/><small><span style="color:#a3a3a3">Updates every minute - </span><a href="//bracketcloud.com/tournament/103815" style="color:#0088cc;text-align:left" target="_blank">View full tournament</a></small>
  </div>

  <!-- Page Features -->
  <div class="row text-center">
    {% include "stat-tables.html" %}
  </div>
  <!-- /.row -->
</div>
<script>

$('#clock').countdown('{{ next_tournament.date|date:"Y/m/d" }}', function(event) {
  var $this = $(this).html(event.strftime(''
    + '<h2><span style="font-size:45px;">%d</span> days '
    + '<span style="font-size:45px;">%H</span> hr '
    + '<span style="font-size:45px;">%M</span> min '
    + '<span style="font-size:45px;">%S</span> sec</h2>'));
});
$('.view-all').click(function () {
  var table = $(this).closest('.stat-card').find('.card-table')
  table.find('.stat-row:hidden').show();
  if (table.find('.stat-row').length == table.find('.stat-row:visible').length) {
      $(this).hide();
  }
});
</script>
<!-- /.container -->
{% endblock %}
