<table class="card-table">
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Tournaments</a></td>
    <td class="card-stat">3</td>
  </tr>
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Championships</a></td>
    <td class="card-stat">1</td>
  </tr>
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Total Earnings</a></td>
    <td class="card-stat">$500</td>
  </tr>
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Date joined</a></td>
    <td class="card-stat">9/1/17</td>
  </tr>
</table>
