{% extends "base.html" %}

{% block content %}
<!-- <p class="c5"><span class="c1">TAGPRO Championship Series Introduction</span></p> -->
<p class="c3"><span class="c7">TAGPRO is one of the first free-to-play, online capture the flag games, that has attracted many online players. What began as a class project 5 years ago has slowly grown into a competitive esport with thousands of players </span>
    <span
        class="c7">playing</span><span class="c7">&nbsp;daily. The TagPro League started soon after the game&rsquo;s inception to create an avenue for the best players to compete against each other for the elusive superball, with top contenders from North America, Europe, and Australia, with North America &nbsp;having the largest a</span>
        <span
            class="c0">nd what some believe, the most skillfully adept players (although Europe has their top contenders as well.)</span>
</p>
<p class="c3"><span class="c6">The Structure</span></p>
<p class="c3"><span class="c7">TAGPRO League has pushed for a draft based competitive structure where teams are constantly changing from season to season. There has always only been one major competitive league that has been divided into 4 tiers: Majors, Minors, Novice, and Novice B-team, with the very best players being drafted in Majors.</span>
    <span
        class="c2">&nbsp;</span><span class="c7">The season</span><span class="c2">&nbsp;</span><span class="c0">usually spans 3 months + a best of 3 playoff round that runs an additional month. At the very beginning this system helped TAGPRO grow exponentially and was on the verge of breaking through to the elite games. Having extensive stats, live streamers with great commentators, and analyst breakdowns gave the game great potential. Now with a few years and a constantly growing community tagpro is trying to take the jump into the pro scene. </span></p>
<p
    class="c3"><span class="c7 c8">Esports Gaming League (EGL) </span><span class="c7">&nbsp;plans to help fill this hole for tagpro. Official EGL tournaments are broken into 2 main categories: the Championship series and the invitational. Champion series tournaments will be </span>
    <span
        class="c0">sprinkled throughout the year, usually over a single weekend, with teams signing up by paying a $10 entrance fee, and will be played entirely on a specific server. This tournament will be structured as a double elimination tournament, with the
        finals being a best of 3, for the champion of the winners bracket, and a best of 5, for the champion of the loser&rsquo;s bracket. &nbsp;The winner of the champion series is usually paid some predetermined pot size, currently somewhere between
        200-500 dollars, But that amount is expected to grow as the tournament becomes more popular. In addition, the top 4 teams in each championship tourney will be invited to the invitational, which usually has a much bigger pot size and the best
        teams.</span>
        </p>
        <h2 class="c4" id="h.9b0lgecbgcxn"><span class="c6">The Invitational.</span></h2>
        <p class="c12"><span>The invitational will consist of the top 4 teams from all the previous championship series tournaments. There is usually 4 championship series tournaments &nbsp;for each invitational based on 4 regions of the US: NE, SE, Midwest, and West Coast. In addition, the winners of Majors, Minors, Novice, and Novice B-team from the most recent TPL season will also be invited to compete in the invitational. This brings the grand total of the number of teams in the invitational to 20. There is no entrance fee for the invitational and it will run the span of a week, </span>
            <span
                class="c7">during which qualifying teams compete in a Group Stage, a 10 team playoff round, and finals, all in a best of 3 format, until a single winner is crowned and achieves the title of the world&rsquo;s best TAGPRO team. That is, until the next
                Invitational.</span>
        </p>
        <p class="c9"><span class="c10"></span></p>
{% endblock %}
