{% load app_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="{% url 'index' %}">TagPro Championship Series</a> -->
  <!-- <a class="navbar-brand" href="{% url 'index' %}">
    <img src="https://s3.amazonaws.com/beamobile/tp_logo.png" width="55" height="50" class="" alt="">
  </a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% is_on 'tournaments' %}" href="{% url 'tournaments' %}">Tournaments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% is_on 'league_info' %}" href="{% url 'league_info' %}">League Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1Rt7FzeED_G-kLj2qlZijKQioubjoQlSYzKx5wm7sem4/edit" target="_blank">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% is_on '/rules/' %}" href="{% url 'rules' %}">Rules</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search-input" type="text" placeholder="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" id="search-button">Search</a>
    </div>
    <ul class="navbar-nav">
      {% if user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "social:begin" "google-oauth2" %}?next={{request.path}}">Register/Log in</a>
      </li>
      {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'team' user.team %}">Team Page</a>
            <a class="dropdown-item" href="{% url 'submit' %}">Submit</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<header class="jumbotron">
  <a href="{% url 'index' %}"><img class="header-img" src="https://s3.amazonaws.com/beamobile/tp_header0.png" /></a>
</header>
