<table class="card-table">
  <tr>
    <td>1</td>
    <td class="card-player"><a class="card-link" href="#">Syniikal</a></td>
    <td class="card-stat">4989</td>
  </tr>
  <tr>
    <td>2</td>
    <td class="card-player"><a class="card-link" href="#">Eashy</a></td>
    <td class="card-stat">4539</td>
  </tr>
  <tr>
    <td>3</td>
    <td class="card-player"><a class="card-link" href="#">iAaronK</a></td>
    <td class="card-stat">4403</td>
  </tr>
  <tr>
    <td>4</td>
      <td class="card-player"><a class="card-link" href="#">BALLDON'TLIE</a></td>
    <td class="card-stat">4378</td>
  </tr>
  <tr>
    <td>5</td>
    <td class="card-player"><a class="card-link" href="#">aardvark</a></td>
    <td class="card-stat">4339</td>
  </tr>
  <tr>
    <td>6</td>
    <td class="card-player"><a class="card-link" href="#">siDe</a></td>
    <td class="card-stat">4319</td>
  </tr>
  <tr>
    <td>7</td>
    <td class="card-player"><a class="card-link" href="#">BigBird</a></td>
    <td class="card-stat">4197</td>
  </tr>
  <tr>
    <td>8</td>
    <td class="card-player"><a class="card-link" href="#">alchemist</a></td>
    <td class="card-stat">4124</td>
  </tr>
  <tr>
    <td>9</td>
    <td class="card-player"><a class="card-link" href="#">Frothy</a></td>
    <td class="card-stat">3964</td>
  </tr>
  <tr>
    <td>10</td>
    <td class="card-player"><a class="card-link" href="#">yank</a></td>
    <td class="card-stat">3724</td>
  </tr>
</table>
