<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='{% url 'index' %}';}"></iframe>

<form action="https://docs.google.com/forms/d/e/1FAIpQLScB0JKPatnNXn8sXnWNTVCDjQYjMn67EKheowqPPD1ERQchcA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
  <label>Name</label>
      <input name="entry.2005620554" type="text" />
      <label>Email</label>
      <input name="entry.1045781291" type="email" required />
      <input type="submit" value="Send" />
</form>
