<table class="card-table">
  <tr>
    <td>1</td>
    <td class="card-player"><a class="card-link" href="#">aardvark</a></td>
    <td class="card-stat">358</td>
  </tr>
  <tr>
    <td>2</td>
    <td class="card-player"><a class="card-link" href="#">Frothy</a></td>
    <td class="card-stat">356</td>
  </tr>
  <tr>
    <td>3</td>
    <td class="card-player"><a class="card-link" href="#">iAaronK</a></td>
    <td class="card-stat">347</td>
  </tr>
  <tr>
    <td>4</td>
    <td class="card-player"><a class="card-link" href="#">Syniikal</a></td>
    <td class="card-stat">343</td>
  </tr>
  <tr>
    <td>5</td>
    <td class="card-player"><a class="card-link" href="#">siDe</a></td>
    <td class="card-stat">341</td>
  </tr>
  <tr>
    <td>6</td>
    <td class="card-player"><a class="card-link" href="#">Sherrattinho</a></td>
    <td class="card-stat">332</td>
  </tr>
  <tr>
    <td>7</td>
    <td class="card-player"><a class="card-link" href="#">alchemist</a></td>
    <td class="card-stat">327</td>
  </tr>
  <tr>
    <td>8</td>
    <td class="card-player"><a class="card-link" href="#">yank</a></td>
    <td class="card-stat">323</td>
  </tr>
  <tr>
    <td>9</td>
    <td class="card-player"><a class="card-link" href="#">BigBird</a></td>
    <td class="card-stat">319</td>
  </tr>
  <tr>
    <td>10</td>
    <td class="card-player"><a class="card-link" href="#">C Bivvey</a></td>
    <td class="card-stat">310</td>
  </tr>
</table>
