<table class="card-table">
  <tr>
    <td class="card-player roster-player"><a class="card-link roster-link" href="#">{{ team.captain }}</a></td>
  </tr>
  <tr>
    <td class="card-player roster-player"><a class="card-link roster-link" href="#">{{ team.player1 }}</a></td>
  </tr>
  <tr>
    <td class="card-player roster-player"><a class="card-link roster-link" href="#">{{ team.player2 }}</a></td>
  </tr>
  <tr>
    <td class="card-player roster-player"><a class="card-link roster-link" href="#">{{ team.player3 }}</a></td>
  </tr>
  <tr>
    <td class="card-player roster-player"><a class="card-link roster-link" href="#">{{ team.player4 }}</a></td>
  </tr>
</table>
