{% load app_filters app_tags %}
<table class="card-table">
{% get_players team True as players %}
{% for field,player in players.items %}
<tr>
   <td class="card-player roster-player">
    <div class="edit-player" id="edit-{{ player }}">
      <span class="edit-player-span"  data-player="{{ player }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </span>
    </div>
    <a class="card-link roster-link player-link" id="link-{{ player }}" href="#">{{ player }}</a>
    <div class="edit-confirm" id="confirm-{{ player }}">
      <span class="edit-cancel-text"  data-player="{{ player }}">
        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
      </span>
    </div>
    <textarea class="edit-player-text" id="text-{{ player }}" data-field="{{ field }}" rows="1" cols="15" maxlength="30">{{ player }}</textarea>
</td>
</tr>
{% endfor %}
{% if team|can_add_player %}
<tr>
  <td class="card-player roster-player add-section">
    <div class="add-player">
      <a class="add-player-link" href="#">add player</a>
    </div>
    <div class="add-confirm">
      <span class="add-cancel-text">
        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
      </span>
      <textarea class="add-player-text" id="" data-field="{% field_needed team %}" rows="1" cols="15" maxlength="30" autofocus>{{ player }}</textarea>
    </div>
  </td>
</tr>
{% endif %}
</table>
<a class="btn btn-primary btn-sm edit-save" id="edit-save" data-team="{{ team.name }}" href="#">save</a>
<img src="https://s3.amazonaws.com/beamobile/small_Spinner.gif" id="loading-spinner" alt="Loading" title="Loading" />
