{% extends "base.html" %}

{% block content %}
<p class="c21"><span class="c16 c20">ARTICLES &amp; RULES</span></p>
<p class="c21 c25"><span class="c16 c22 c10 c24"></span></p>
<h2 class="c19 c23"><span class="c12 c16 c10">Article I - Basics</span></h2>
<h5 class="c5"><span class="c11 c22 c14 c10">Section I - Definitions</span></h5>
<ul class="c3 lst-kix_xqhi077y6dvd-0 start">
    <li class="c4"><span class="c10 c17">Half</span><span class="c10">&nbsp;- </span><span class="c2">8 minutes of a tournament Matchup.</span></li>
    <li class="c4"><span class="c10 c17">Game</span><span class="c10">&nbsp;- </span><span class="c2">16 minutes of a tournament Matchup. There are two halves in a game.</span></li>
    <li class="c4"><span class="c10 c17">Match</span><span class="c12 c11 c10">&nbsp;- During semi-finals &amp; finals rounds. consists of 3 or 4 games</span></li>
    <li class="c4"><span class="c10 c17">CRC - </span><span class="c10">Commissioners and Rules Committee</span></li>
</ul>
<h5 class="c5"><span class="c9">Section II - Registration</span></h5>
<ul class="c3 lst-kix_5pz6vcwdee85-0 start">
    <li class="c4"><span class="c1">Captains register a team of at minimum 4 players and at most 5 players using this form. </span></li>
    <li class="c4"><span class="c1">Primary Registered Name</span></li>
</ul>
<ul class="c3 lst-kix_5pz6vcwdee85-1 start">
    <li class="c6"><span class="c1">Captains must signup themselves and their players with their TagPro registered name and cannot change their registered name while they are on a team.</span></li>
    <li class="c6"><span class="c1">registered name is defined as a name that is registered with tagpro.koalabest.com</span></li>
    <li class="c6"><span class="c1">A player is allowed to change their name season to season, but they must accept that new identify on mumble/Discord as well.</span></li>
    <li class="c6"><span class="c2">If a player has an issue playing with their registered name, they should notify the CRC as soon as possible.</span></li>
</ul>
<h3 class="c8"><span class="c12 c16 c10">Article II - League &amp; Team Structure</span></h3>
<h5 class="c5"><span class="c9">Section I - League</span></h5>
<ul class="c3 lst-kix_nmz75dubtg9x-0 start">
    <li class="c4"><span class="c12 c11 c10">Structure</span></li>
</ul>
<ul class="c3 lst-kix_nmz75dubtg9x-1 start">
    <li class="c6"><span class="c1">The league shall consist of a double elimination bracket system, with a winners and losers bracket.</span></li>
    <li class="c6"><span class="c1">The finals will consist of the winner of the winner&rsquo;s bracket and the winner of the loser&rsquo;s bracket. </span></li>
    <li class="c6"><span class="c1">Each tournament will consist of 16 teams (8 that have attained legendary status and 8 that qualify through a qualifying bracket)</span></li>
</ul>
<ul class="c3 lst-kix_nmz75dubtg9x-2 start">
    <li class="c0"><span class="c1">legendary teams qualify by placing in the top 8 of a tournament run &nbsp;before the season.</span></li>
    <li class="c0"><span class="c1">qualifying tournaments run before each championship tournament to determine the 8 teams that will compete along-side the legendary teams in the championship tournament</span></li>
</ul>
<ul class="c3 lst-kix_nmz75dubtg9x-1">
    <li class="c6"><span class="c1">The league will run on one server at a time. (ie. There will be a radius tournament followed by a centra tournament at a later date and so on)</span></li>
</ul>
<ul class="c3 lst-kix_nmz75dubtg9x-0">
    <li class="c4"><span class="c1">Team Names</span></li>
</ul>
<ul class="c3 lst-kix_nmz75dubtg9x-1 start">
    <li class="c6"><span class="c1">Team names must be submitted when you register your team. </span></li>
    <li class="c6"><span class="c1">If team name is left blank a generic name will be provided for you</span></li>
    <li class="c6"><span class="c1">Team names must be approved by the CRC</span></li>
    <li class="c6"><span class="c1">If a team name contains vulgarity or profanity, you will be messaged and will have 24 hours to rename your team after which a generic name will be provided for you.</span></li>
</ul>
<ul class="c3 lst-kix_nmz75dubtg9x-0">
    <li class="c4"><span class="c2">All Teams must have a logo and a banner. The logo must be 500px by 500px, and the banner must be 400px by 60px.</span></li>
</ul>
<p class="c7"><span class="c1"></span></p>
<h5 class="c5"><span class="c9">Section II - Team Structure</span></h5>
<ul class="c3 lst-kix_80das5w2al3o-0 start">
    <li class="c4"><span class="c1">Each team shall have a captain, who is responsible for all signing, releasing, trading and in some cases paying their players. In addition captains are responsible for being in contact with the CRC</span></li>
    <li class="c4"><span class="c1">Captains are responsible for providing team members information in order to allow for winnings to go directly to them. In the event that team members do not want to give their information, the captain can take the winnings and handout the winnings to their teammates themselves.</span></li>
    <li
        class="c4"><span class="c1">Each member of the team can become an acting captain in the event the captain is not present and will be responsible for the duties of the captain in his absence</span></li>
        <li class="c4"><span class="c2">Teams can have no more than 5 players at any time and at minimum 4 players. If less than 4 players are available 10mins after scheduled game time, it will result in a forfeit.</span></li>
</ul>
<h5 class="c5"><span class="c9">Section III - Maps</span></h5>
<ul class="c3 lst-kix_q69bw1x56833-0 start">
    <li class="c4"><span class="c1">Maps will be chosen by a map committee </span></li>
    <li class="c4"><span class="c2">During the semi-finals and finals round 10 minutes prior to starting, a pick/ban system will be implemented to select from 10 maps chosen by the map committee</span></li>
</ul>
<h5 class="c5"><span class="c11 c22 c14 c10">Section IV - Game Settings</span></h5>
<ul class="c3 lst-kix_ayxv5bu7rf4i-0 start">
    <li class="c4"><span class="c1">Capture limit set to none</span></li>
    <li class="c4"><span class="c1">Time limit set to 10 minutes</span></li>
    <li class="c4"><span class="c1">Acceleration set to 100%</span></li>
    <li class="c4"><span class="c1">Top speed set to 100%</span></li>
    <li class="c4"><span class="c1">Bounciness set to 100%</span></li>
    <li class="c4"><span class="c1">Player respawn time set to &quot;3 seconds&quot;</span></li>
    <li class="c4"><span class="c1">Boost respawn time set to &quot;10 seconds&quot;</span></li>
    <li class="c4"><span class="c1">Bomb respawn time set to &quot;30 seconds&quot;</span></li>
    <li class="c4"><span class="c1">Powerup respawn time set to &quot;1 minute&quot;</span></li>
    <li class="c4"><span class="c1">Powerup delay set to &quot;60 seconds&rdquo;</span></li>
    <li class="c4"><span class="c1">groups should have user scripts disabled</span></li>
</ul>
<p class="c7"><span class="c1"></span></p>
<p class="c19"><span class="c12 c16 c10">Article III - Rosters</span></p>
<p class="c7"><span class="c9"></span></p>
<p class="c19"><span class="c9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section I - Basics</span></p>
<ul class="c3 lst-kix_ecivitwp3z2d-0 start">
    <li class="c4"><span class="c1">Each Team must have a minimum of 4 players and a maximum of 5.</span></li>
    <li class="c4"><span class="c1">Once a team is registered their roster is locked for the tournament. </span></li>
    <li class="c4"><span class="c1">Legendary team rosters are locked for the entirety of a season. In some cases if a team member is unable to participate in the tournament they can be dropped and replaced. </span></li>
    <li class="c4"><span class="c1">Dropped team members can not play for the rest of the season</span></li>
    <li class="c4"><span class="c2">If a qualifying team has individuals that do not show up at game time it will result in a forfeit.</span></li>
</ul>
<p class="c7"><span class="c1"></span></p>
<h5 class="c5"><span class="c11 c22 c14 c10">Section I</span><span class="c11 c10 c14">I</span><span class="c9">&nbsp;&ndash; Trades, drops, and new signings</span></h5>
<ul class="c3 lst-kix_n11kq2qnod4p-0 start">
    <li class="c4"><span class="c1">Legendary teams are allowed to institute trades as long as a team does not go below the 4 teammate minimum. (teams are limited to 3 trades per season)</span></li>
    <li class="c4"><span class="c2">O</span><span class="c1">nce a team signs up for a tournament they will be unable to change their roster.</span></li>
    <li class="c4"><span class="c1">However, once the tournament ends, qualifying teams are essentially dissolved unless they they won or were a top 4 finalist. </span></li>
    <li class="c4"><span class="c2">In the event your team wins or is a finalist, the franchise &amp; captain of that team will be invited to an invitational. It is up to the discretion of the captain on whether he would sign the same players up for the invitational.</span></li>
</ul>
<h5 class="c5"><span class="c11 c22 c14 c10">Section I</span><span class="c11 c14 c10">II</span><span class="c11 c14 c10 c22">&nbsp;- Free Age</span><span class="c11 c14 c10">nt List</span></h5>
<ul class="c3 lst-kix_axwg2i131rxq-0 start">
    <li class="c4"><span class="c1">Purpose of Free agents list</span></li>
</ul>
<ul class="c3 lst-kix_axwg2i131rxq-1 start">
    <li class="c6"><span class="c1">many players who would like to participate in the tournament but do not know 4 other players but would like to play, can be placed on a free agency list. </span></li>
    <li class="c6"><span class="c1">Free agents agree to contribute to the registration fee their team qualifies for the championship series unless a captain is willing to cover their cost.</span></li>
    <li class="c6"><span class="c1">Players do not technically pay a registration fee and team registration fee can be paid all by one player. In this event no fee will be collected from free agents.</span></li>
    <li class="c6"><span class="c1">Free agents may come together and form their own team.</span></li>
    <li class="c6"><span class="c2">Free agents can elect to be auto assigned to each other to form a team (will be done based on position)</span></li>
</ul>
<h3 class="c8"><span class="c11 c22 c10">Article V - Matches (semi-finals </span><span class="c11 c10">&amp; finals only)</span></h3>
<h5 class="c5"><span class="c9">Section I - Basics</span></h5>
<ul class="c3 lst-kix_melme5sq5g0g-0 start">
    <li class="c4"><span class="c1">Each match consists of three separate games - each of them being two 10 minute halves. All games will be played on the server designated for that champions series period. </span></li>
    <li class="c4"><span class="c1">If you win you will advance to the next round.</span></li>
    <li class="c4"><span class="c1">If you lose you will be placed in the losers brackets, a loss on the losers bracket will result in an elimination. </span></li>
    <li class="c4"><span class="c1">Teams must be able to field four players for every half. If a team is unable to substitute in order to field four players at any point in the match, they shall be in danger of forfeiting that game. The game should be completed as normal and a determination on the game&rsquo;s status shall be made by the CRC.</span></li>
    <li
        class="c4"><span class="c2">Matches are only relevant for semi-finals and finals round</span></li>
</ul>
<h5 class="c5"><span class="c9">Section II - Scheduling</span></h5>
<ul class="c3 lst-kix_ancb87v2aw7c-0 start">
    <li class="c4"><span class="c1">The tournament will be run over a single weekends and will occur at a local server time designated by the CRC (ie. Sat/Sun. between 7PM-10PM)</span></li>
    <li class="c4"><span class="c1">Teams only need to be available during their scheduled time to play.</span></li>
    <li class="c4"><span class="c2">If one or both teams can not show up for the scheduled time the match will count as forfeit for both teams. two no-shows will result in an elimination</span></li>
</ul>
<h5 class="c5"><span class="c9">Section III - Starting on Time</span></h5>
<ul class="c3 lst-kix_ctvw8s1bbyyd-0 start">
    <li class="c4"><span class="c12 c11 c10">Starting Halves</span></li>
</ul>
<ul class="c3 lst-kix_ctvw8s1bbyyd-1 start">
    <li class="c6"><span class="c1">Teams are discouraged from taken overly long to start each half. However, problems arise and the match may start late.</span></li>
    <li class="c6"><span class="c2">The team that is ready to start is highly encouraged to keep their complaints to a minimum - see the&nbsp;</span><span class="c10 c32"><a class="c27" href="https://www.google.com/url?q=http://www.reddit.com/r/TagPro/wiki/season9rules%23wiki_etiquette&amp;sa=D&amp;ust=1506176240725000&amp;usg=AFQjCNEH8kodKmdZ8Ci-soY2hj3UIMtvKw">etiquette section</a></span>
        <span
            class="c1">&nbsp;for more information.</span>
    </li>
    <li class="c6"><span class="c1">The match must start within 15 minutes after either the scheduled start time or 15 minutes after a group link is sent, whichever is later.</span></li>
    <li class="c6"><span class="c2">Teams are not allowed to intentionally delay the game in order to get a competitive advantage.</span></li>
</ul>
<h5 class="c5"><span class="c9">Section IV - Spectators</span></h5>
<ul class="c3 lst-kix_jdmwwrbv94ek-0 start">
    <li class="c4"><span class="c1">Teams are not allowed to have spectators in their mumble channel during game time. However linked spectator channels is acceptable</span></li>
    <li class="c4"><span class="c1">Each team will have 2 spots available to spectate during a game, 1 for a sub and 1 for a captain in the event the captain is not a player on the roster.</span></li>
    <li class="c4"><span class="c1">If the captain is also a player on the team only 1 spot will be available to spectate</span></li>
    <li class="c4"><span class="c1">Spectators are not allowed to use group chat while the match is being played.</span></li>
    <li class="c4"><span class="c1">The CRC and Streamers can spectate any game any time.</span></li>
    <li class="c4"><span class="c1">Streamers are sanctioned members of the community</span></li>
    <li class="c4"><span class="c2">if other members join a game the results of the game could be void.</span></li>
</ul>
<h3 class="c8"><span class="c12 c10 c16">Article VI - Substitutions</span></h3>
<h5 class="c5"><span class="c9">Section I - Strategic Substitutions</span></h5>
<ul class="c3 lst-kix_lkmdf8siycn-0 start">
    <li class="c4"><span class="c1">Teams are allowed to put substitutes into the &quot;Spectator&quot; or &ldquo;Waiting&rdquo; slot during matches, who can substitute in if needed as hot subs.</span></li>
    <li class="c4"><span class="c1">Substitutions will happen live, meaning we will not exit and go back to group. They need to be muted but not deafened and must be in a spectator channel in mumble (not the channel with active players). They must not communicate with any of the active players during a match, except when subbing.</span></li>
    <li
        class="c4"><span class="c1">Teams can make as many hot substitutions as they like. The same player is allowed to be subbed out, then back in during a match as many times as they like.</span></li>
        <li class="c4"><span class="c2">Teams substituting need to give the opponents notification that a substitute is happening.</span></li>
</ul>
<h5 class="c5"><span class="c9">Section II - Lag Substitutions</span></h5>
<ul class="c3 lst-kix_vysp1afflmt2-0 start">
    <li class="c4"><span class="c1">If a lagging player has left the match, but his ball is still in the game (either motionless, or moving in only one direction) the lagging team will be permitted to have five players (four active, one inactive) in the match.</span></li>
    <li
        class="c4"><span class="c1">For every 21 seconds that there are five players (four active, one inactive) in the match, the team with five will be penalized one capture. This time accumulates, but is reset after each half.</span></li>
        <li class="c4"><span class="c1">For every three seconds teams have five active people playing they will be penalized one capture. This time accumulates but reset at each half</span></li>
        <li class="c4"><span class="c1">Any capture penalties will be assessed after the match has concluded. A message with video proof and/or tagpro.eu data must be sent to the league commissioners in order for the penalties to be processed.</span></li>
        <li class="c4"><span class="c1">If a team is lagging and they go down to two balls or less, they can force the game to go back to group by making a comment that they have 2+ people not playing and need to go back to group. The team who isn&#39;t lagging must leave the match the moment they are not holding the flag (an instant re-grab counts as not holding). The team who had 2+ players lag out must put in their sub and give 2 minutes for one of the two players who lagged out to return.</span></li>
        <li
            class="c4"><span class="c2">If both teams need to invoke the above rule, players do not need to be automatically subbed out.</span></li>
</ul>
<h3 class="c8"><span class="c12 c16 c10">Article VII - Cheating</span></h3>
<h5 class="c5"><span class="c9">Section I - Cheating</span></h5>
<ul class="c3 lst-kix_3urk99pe00ep-0 start">
    <li class="c4"><span class="c1">Cheating is strictly prohibited.</span></li>
    <li class="c4"><span class="c1">Cheating includes: starting the half on the wrong team and disturbing with the other team, changing game settings from the default (except for settings expressed in these rules i.e. match length, capture limit, etc), banning anyone in the match (from your team included), moderators intentionally banning league players with unjust bans, non-playing teammates communicating with playing teammates, as well as using any scripts that have not been uploaded to the Tagpro Champions Series servers. The commissioners have the right to make a team forfeit if the players of a team conduct other forms of cheating not covered by this section.</span></li>
    <li
        class="c4"><span class="c1">Switching teams to get a better start position is allowed; however, players are prohibited from refreshing before a half starts, unless it is completely needed in order to fix a black screen or some other malfunction.</span></li>
        <li
            class="c4"><span class="c1">If a player begins a match on the wrong team, the other team will have the option of restarting the match or playing on. To initiate this, the team must make a comment in chat about restarting within 10 seconds of the start of the match.</span></li>
            <li
                class="c4"><span class="c1">Any player or team caught cheating or trying to take advantage of these rules in order to gain an unfair advantage will be dealt with on a case-by-case basis as determined by the commissioners. The more severe the cheating, the more severe the punishment. At minimum the team will be eliminated from the tournament </span></li>
                <li
                    class="c4"><span class="c2">Any player currently banned from TagPro is also banned from participating in the Tagpro Champions Series for the duration of their ban.</span></li>
</ul>
<p class="c7"><span class="c1"></span></p>
<h5 class="c5"><span class="c9">Section III - Whistleblowing</span></h5>
<ul class="c3 lst-kix_gmvu8qrdd506-0 start">
    <li class="c4"><span class="c1">Any person who has proof, or suspects a player of cheating in any way should send a detailed&nbsp;message to the CRC. If requested, the commissioners will not disclose the name of the whistleblower.</span></li>
    <li class="c4"><span class="c1">Any person who has proof, or suspects a CRC member of cheating in any way should send a detailed&nbsp;message to the CRC, or if desired, individual messages to the members who are not involved.</span></li>
    <li class="c4"><span class="c1">Any person who has proof, or suspects all CRC members of cheating in any way should send a detailed message to any/all MLTP captains.</span></li>
    <li class="c4"><span class="c2">Accusing members of the community of cheating are prohibited in any public setting.</span></li>
</ul>
<h5 class="c5"><span class="c9">Section IV - Scripts &amp; Bots</span></h5>
<ul class="c3 lst-kix_629dkq2bfs6u-0 start">
    <li class="c4"><span class="c1">all scripts and bots will be banned from tagpro championship Series and will be disabled in groups.</span></li>
    <li class="c4"><span class="c1">Teams are not allowed to use any scripts.</span></li>
    <li class="c4"><span class="c2">Bots are strictly banned from Tagpro Champions Series. If a player is caught using a bot, he will be banned from participating in future Tapro Champions Series indefinitely.</span></li>
</ul>
<p class="c7"><span class="c1"></span></p>
<h3 class="c8"><span class="c12 c16 c10">Article VIII - Etiquette</span></h3>
<h5 class="c5"><span class="c9">Section I - Etiquette</span></h5>
<ul class="c3 lst-kix_ps8omht5g4dt-0 start">
    <li class="c4"><span class="c1">This is a fun game, and a fun league. We are here to have a good time and play competitive TagPro.</span></li>
    <li class="c4"><span class="c1">&quot;Hate&quot; speech is one of the most egregious etiquette offenses.</span></li>
    <li class="c4"><span class="c1">Players are encouraged to talk up their own skills, and even be arrogant about it, but are not allowed to put down other players or teams unless it is clear it is a joke.</span></li>
    <li class="c4"><span class="c2">Players are encouraged to talk smack&nbsp;</span><span class="c2 c14">before</span><span class="c2">&nbsp;the match, but afterwards be cool about everything -&nbsp;</span><span class="c2 c14">especially</span><span class="c1">&nbsp;the winning team.</span></li>
    <li
        class="c4"><span class="c1">Don&#39;t be a dick. The CRC reserves the right to punish league members for dickish behavior, even if the particular behavior in question is not specifically listed as an offense.</span></li>
        <li class="c4"><span class="c1">Only captains or vice-captains can resolve game-day disputes.</span></li>
        <li class="c4"><span class="c1">Players need to be respectful of the other team when typing during a match.</span></li>
        <li class="c4"><span class="c1">The penalties can be any of the following:</span></li>
</ul>
<ul class="c3 lst-kix_ps8omht5g4dt-1 start">
    <li class="c6"><span class="c1">Level a) Warning</span></li>
    <li class="c6"><span class="c1">Level b) Suspension</span></li>
    <li class="c6"><span class="c1">Level c) Tournament Ban</span></li>
    <li class="c6"><span class="c1">Level d) Lifetime Ban</span></li>
</ul>
<ul class="c3 lst-kix_ps8omht5g4dt-0">
    <li class="c4"><span class="c2">Punishments are determined on a case-by-case basis by the CRC.</span></li>
</ul>
<h3 class="c8"><span class="c11 c22 c10">IX &ndash; Double Elimination </span><span class="c10 c11">Structure</span></h3>
<h5 class="c5"><span class="c9">Section I - Teams</span></h5>
<ul class="c3 lst-kix_unskgdjl4fsq-0 start">
    <li class="c4"><span class="c2">Each team will placed in the &ldquo;Winner&rsquo;s bracket&rdquo;. Teams that lose will placed in the &ldquo;Losers bracket&rdquo;. After two losses you are eliminated from the tournament</span></li>
</ul>
<h5 class="c5"><span class="c9">Section II - Overtime</span></h5>
<ul class="c3 lst-kix_wkmc8m2ftxvw-0 start">
    <li class="c4"><span class="c2 c17">(a)</span><span class="c1">&nbsp;In the event that 2 teams tie after two 10 minute halves, a first to 2 caps 5 minute half will be played. (ie. First team to cap twice wins), if still under 2 caps after 5 minutes, teams are to switch sides and play another 5 minute half. This is to happen until a team scores 2 caps.</span></li>
</ul>
<p class="c7"><span class="c1"></span></p>
<p class="c18"><span class="c22 c14 c10">Section IV - Maps &amp; </span><span class="c9">Pick/Ban</span></p>
<ul class="c3 lst-kix_nbb2jwhmdk25-0 start">
    <li class="c4"><span class="c2 c17">(a)</span><span class="c1">&nbsp;Maps will be preselected by a maps committee. Each round of the tournament will have a different map. In the semi-finals and finals matches, teams will pick/ban maps from 8 maps preselected by CRC</span></li>
    <li
        class="c4"><span class="c2 c17">(c)</span><span class="c1">&nbsp;The process for selecting maps will be as follows:</span></li>
</ul>
<ul class="c3 lst-kix_nbb2jwhmdk25-1 start">
    <li class="c6"><span class="c1">The team ranked higher based on Section II of this article will decide if they want to go first, or second.</span></li>
    <li class="c6"><span class="c1">Team &quot;A&quot; will ban one of the 8 preselected maps.</span></li>
    <li class="c6"><span class="c1">Team &quot;B&quot; will ban one of the 7 remaining maps.</span></li>
    <li class="c6"><span class="c1">Team &quot;A&quot; will pick one of the 6 remaining maps. This will be &quot;Game one&quot;.</span></li>
    <li class="c6"><span class="c1">Team &quot;B&quot; will pick one of the 5 remaining maps. This will be &quot;Game two&quot;.</span></li>
    <li class="c6"><span class="c1">Team &quot;A&quot; will pick one of the 4 remaining maps. This will be &ldquo;Game three&rdquo;.</span></li>
</ul>
<ul class="c3 lst-kix_nbb2jwhmdk25-0">
    <li class="c4"><span class="c1">Pick/bans will occur 10 minutes before the scheduled time for the game</span></li>
    <li class="c4"><span class="c2 c17">&nbsp;</span><span class="c1">If a team does not show up 10 minutes before game time for pick/bans, the team that does show up will pick all 3 maps. </span></li>
    <li class="c4"><span class="c2">If neither team shows up for pick/bans, CRC will randomly select 3 maps.</span></li>
</ul>
<p class="c7"><span class="c1"></span></p>
<h5 class="c5"><span class="c9">Section V - Match Structure (semi-finals and finals only)</span></h5>
<ul class="c3 lst-kix_pukta2pvzun2-0 start">
    <li class="c4"><span class="c1">There will be three separate games.</span></li>
    <li class="c4"><span class="c1">If scores are tied at the end of any one game, a 10-minute mini-game is played to determine the winner of the game. The mini-game is composed of two halves of 5 minutes. If mini-game is tied, they will play another 10-minute mini-game until there is a winner.</span></li>
    <li
        class="c4"><span class="c2">The third game is only played if teams are split after the first two games</span></li>
</ul>
<p class="c7"><span class="c16 c2 c29"></span></p>
<h3 class="c8"><span class="c12 c16 c10">Article X &ndash; Fees and Awards</span></h3>
<p class="c7"><span class="c11 c10 c12"></span></p>
<p class="c19"><span class="c12 c11 c10">Section I - Basics</span></p>
<ul class="c3 lst-kix_plz0atxpud3d-0 start">
    <li class="c15"><span class="c1">Each registered team will be required to pay a predetermined registration fee to enter and hold their position in the tournament</span></li>
    <li class="c15"><span class="c1">The team that wins the tournament will get a pre determined Prize money to be venomed to the captain or players individually.</span></li>
</ul>
<p class="c7"><span class="c12 c11 c28"></span></p>
{% endblock %}
