<table class="card-table">
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Points</a></td>
    <td class="card-stat">489</td>
  </tr>
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Wins</a></td>
    <td class="card-stat">21</td>
  </tr>
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Losses</a></td>
    <td class="card-stat">9</td>
  </tr>
  <tr>
    <td class="card-player"><a class="card-link roster-link" href="#">Ties</a></td>
    <td class="card-stat">3</td>
  </tr>
</table>
