{% load staticfiles app_filters %}

{% block content %}
<div class="register-header">
<h2>Register Team</h2>
</div>
<form method="post" class="team-form">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}
      <!-- check for form errors -->
        {% for error in field.errors %}
            <div class="alert alert-danger"><strong>{{ error }}</strong></div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% for field in form %}
    <div class="form-group row">
      <label for="{{ field.name }}" class="col-2 col-form-label {{ field|required }} ">{{ field.name|title }}</label>
      <div class="col-10">
        {% if field.name != 'server' %}
        <input name="{{ field.name }}" id="{{ field.name }}" class="form-control" type="text" {{ field|required }}>
        {% else %}
        <select name="{{ field.name }}" id="{{ field.name }}" class="form-control" {{ field|required }}>
          <option value="" disabled selected ></option>
          <option value="1">Radius</option>
          <option value="2">Pi</option>
          <option value="3">Origin</option>
          <option value="4">Sphere</option>
          <option value="5">Centra</option>
          <option value="6">Orbit</option>
          <option value="7">Chord</option>
          <option value="8">Diameter</option>
          <option value="9">Any</option>
        </select>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="form-group row">
      <label for="accept" class="col-2 col-form-label"></label>
      <div class="col-10" style="margin-top:10px;">
        <input name="disclaimer-box" type="checkbox" class="form-check-input" required>
        <p class="disclaimer-message">By clicking this you understand that if your team qualifies to play in the championship series, you me be asked to pay $10/team</p>
      </div>
    </div>
    <input class="form-submit" type="submit" value="Submit" />
</form>
{% endblock %}
