{% extends 'base.html' %}
{% load staticfiles tournament_filters %}

{% block content %}
<div class="container-fluid tournaments-page">
    <div class="row">
      {% for tournament in tournaments %}
      <div class="card mx-auto" style="width: 15rem;">
        <img class="card-img-top" src="http://via.placeholder.com/238x135">
        <div class="card-block">
          <h4 class="card-title">{{ tournament.name }}</h4>
          <p class="card-text">{{ tournament.get_server_display|server_city }}</p>
          <a href="{% url 'tournament_page' tournament.id %}" class="btn btn-primary">Sign up</a>
        </div>
        <div class="card-footer">
          <p class="card-text">{{ tournament.date }}</p>
        </div>
      </div>
      {% empty %}
      <div class="card" style="width:100%;">
        <div class="card-block">
          No current tournaments
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
