{% extends 'base.html' %}
{% load staticfiles tournament_filters app_tags %}

{% block content %}
<div class="container-fluid tournaments-page">
  <div class="row">
    <div class="card" style="width: 100%;">
      <div class="card-header">{{ tournament.name }}&nbsp;-&nbsp;{{ tournament.get_server_display|server_city }}&nbsp;-&nbsp;{{ tournament.date|date:"m/d/y" }}</div>
      <div class="card-block">
        <h4 class="card-title">Tournament Sign up</h4>
        <p class="card-text">{% templatetag openvariable %}&nbsp;description&nbsp;{% templatetag closevariable %}</p>
        {% if user|can_signup:tournament %}
        <a href="{% signup_link user tournament %}" class="sign-up card-button btn btn-primary">Sign up</a>
        {% else %}
        {% signup_error_fields user tournament as errors %}
        <div class="card" id="signed-up">
          <div class="card-block">
            <p class="card-text">{{ errors.message }}</p>
            <a href="{{ errors.redirect_url }}" id="{{ errors.button_text }}" class="{{ errors.button_class }} card-button btn btn-primary">{{ errors.button_text }}</a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-footer text-muted">
        <p class="footer-message">{% footer_message user tournament %}</p>
      </div>
      <a href="{% url 'tournaments' %}" class="btn btn-secondary">Back</a>
    </div>
  </div>
</div>
{% endblock %}
