{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid tournaments-page">
    <div class="row">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="http://via.placeholder.com/238x135">
        <div class="card-block">
          <h4 class="card-title">Legendary Tournament</h4>
          <p class="card-text">Sphere (Dallas, TX)</p>
          <a href="#" class="btn btn-primary">Sign up</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="http://via.placeholder.com/238x135">
        <div class="card-block">
          <h4 class="card-title">Qualifying Tournament</h4>
          <p class="card-text">Radius (Newark, NJ)</p>
          <a href="#" class="btn btn-primary">Sign up</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="http://via.placeholder.com/238x135">
        <div class="card-block">
          <h4 class="card-title">Qualifying Tournament</h4>
          <p class="card-text">Centra (Fremont, CA)</p>
          <a href="#" class="btn btn-primary">Sign up</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="http://via.placeholder.com/238x135">
        <div class="card-block">
          <h4 class="card-title">Qualifying Tournament</h4>
          <p class="card-text">Sphere (Dallas, TX)</p>
          <a href="#" class="btn btn-primary">Sign up</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
